body {
  margin: auto;
  padding: 0;
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  color: #ffffff;
}

a,
button {
  color: #ffffff;
}



.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.no-markers {
  list-style: none;
}

.container {
  max-width: 1145px;
  padding: 0 2.3%;
  margin: auto;
}


.index-wrapper {
  min-width: 940px;
  background-image: url("../img/slaider-image-1.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-color: #849d8f;
}

.catalog-wrapper {
  min-width: 940px;
  background-color: #849d8f;
}

/* header*/

.main-header {
  padding: 0;
  padding-top: 9px;
  position: relative;
}

.main-header p{
  margin: 0;
}

.top-header-wrapper {
  width: 1144px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-navigation {
  min-height: 98px;
  width: 992px;
  padding-top: 13px;
  margin-left: 10px;
}

.main-navigation-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

a.nav-btn {
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 20px;
  background-color: rgba(225, 225, 225, 0.2);
  position: relative;
  text-decoration: none;
}

a.nav-btn:active {
  -webkit-box-shadow: inset 0px 2px 2px rgba(105,105,105,1);
          box-shadow: inset 0px 2px 2px rgba(105,105,105,1);

}

a.underline,
span.underline {
  text-decoration: none;
  border-bottom: 0.5px solid rgba(255,255,255,0.5);
}


.user-nav a:hover:not(.main-btn),
.user-nav a:focus:not(.main-btn),
.site-navigation a:hover,
.site-navigation a:focus,
.sort-list button,
.sort .nav-btn:focus,
.sort .nav-btn:hover {
  color: black;
  background-color: white;
}

.nav-btn:hover .underline,
.nav-btn:focus .underline,
.nav-btn:hover .index-underline,
.nav-btn:focus .index-underline {
  border-bottom: none;
}

.site-navigation {
  width: 387px;
  margin: 0;
  padding: 0;
  padding-top: 8px;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
}

.site-navigation a.site-navigation-current {
  background-color: #d07058;
}

 a.site-navigation-current span {
   border: none;
 }

.site-navigation .nav-btn {
  background-color: transparent;
  padding: 8px 14px;
}

a[href="catalog.html"]:hover ~ .catalogue-items,
a[href="catalog.html"]:focus ~ .catalogue-items {
  display: block;
  z-index: 10;
}

.user-nav,
.sort-labels {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

.user-nav li {
  margin-right: 11px;
}

.user-nav {
  width: 267px;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: -6px;
}

.user-nav a.search-btn {
  display: inline-block;
  width: 33px;
  height: 33px;
  background-image: url(../img/search.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.user-nav a.search-btn:hover,
.user-nav a.search-btn:focus,
.user-nav a.search-btn:active {
    background-image: url(../img/search-black.svg);
}

.user-nav a.search-btn:hover ~ .search-field,
.user-nav a.search-btn:focus ~ .search-field,
.user-nav a.search-btn:active ~ .search-field {
  display: block;
}

.login-btn {
  position: relative;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 45px;
  padding-right: 17px;
}

.login-btn:hover ~ .login-form,
.login-btn:focus ~ .login-form,
.login-btn:active ~ .login-form {
  display: block;
}

.login-btn span:before {
  content: "";
  position: absolute;
  left: 17px;
  top: 6px;
  width: 22px;
  height: 22px;
  background-image: url(../img/login.svg);
  background-repeat: no-repeat;
}

a.login-btn:hover span::before,
a.login-btn:active span::before,
a.login-btn:focus span::before {
  background-image: url(../img/basket-black.svg);
}

a.cart-btn {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 35px;
  padding-left: 44px;

}

a.cart-btn::before {
  content: "";
  position: absolute;
  left: 16px;
  top: 7px;
  width: 22px;
  height: 22px;
  background-image: url(../img/basket-white.svg);
  background-repeat: no-repeat;
}

a.cart-btn:not(.items-in-cart):hover::before,
a.cart-btn:not(.items-in-cart):active::before,
a.cart-btn:not(.items-in-cart):focus::before {
  background-image: url(../img/basket-black.svg);
}

a.items-in-cart {
  background-color: white;
  padding-right: 18px;
}

a.items-in-cart:before {
  content: "";
  position: absolute;
  left: 15px;
  top: 8px;
  width: 22px;
  height: 22px;
  background-image: url(../img/basket-red.svg);
  background-repeat: no-repeat;
}

a.items-in-cart:hover ~ div.cart-items,
a.items-in-cart:focus ~ div.cart-items {
  display: block;
}

.main-header-info {
  position: absolute;
  right: 0px;
  top: 75px;
  text-align: right;
}

.main-header-info span:first-child {
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  vertical-align: top;

}
.main-header-info span:last-child {
  font-size: 22px;
  line-height: 24px;
}

.items-in-cart {
  color: black;
}

/* slider */

.slider {
  position: relative;
  padding-top: 273px;
  margin-bottom: 42px;
  text-align: center;
  color: #ffffff;
}

.slider-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slide {
  display: none;
}

.slide-title {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 29px;
  font-size: 60px;
  line-height: 60px;
  font-weight: 800;
}

.button {
  display: inline-block;
  padding: 12px 44px;
  font-weight: 600;
  font-size: 31px;
  line-height: 41px;
  text-align: center;
  color: #ffffff;
  vertical-align: top;
  text-decoration: none;
  border: none;
  cursor: pointer;
}

.slider-controls {
  position: absolute;
  bottom: 20px;
  left: 0;
  z-index: 20;
  font-size: 0;
}

.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;
  vertical-align: top;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls label:hover {
  background-color: rgba(255,255,255,0.5)
}

.slider-controls label:active {
  background-color: #FFFFFF;
}

#product-1:checked ~ .index-wrapper {
  background-color: #849d8f;
  background-image: url("../img/slaider-image-1.png");
}

#product-2:checked ~ .index-wrapper {
  background-color: #8996a6;
  background-image: url("../img/slaider-image-2.png");
}


#product-3:checked ~ .index-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/slaider-image-3.png");
}

#product-1:checked ~ .index-wrapper #slide1,
#product-2:checked ~ .index-wrapper #slide2,
#product-3:checked ~ .index-wrapper #slide3 {
  display: block;
}

#product-1:checked ~ .index-wrapper label[for="product-1"],
#product-2:checked ~ .index-wrapper label[for="product-2"],
#product-3:checked ~ .index-wrapper label[for="product-3"] {
  background-color: #ffffff;
}

.bread-crumbs {
  position: absolute;
  left: 0px;
  top: 100px;
}

.bread-crumbs a {
  display: inline-block;
  padding-right: 18px;
  text-decoration: none;
}

.bread-crumbs a:hover,
.bread-crumbs a:focus,
.bread-crumbs a:active {
  color: #ffbc9e;
}

a.breadcrumbs:hover span,
a.breadcrumbs:focus span,
a.breadcrumbs:active span {
  border-bottom-color: #ffbc9e;
}

.bread-crumbs a::after {
  position: absolute;
  content: "»";
  text-align: center;
  color: white;
}

.bread-crumbs a:first-child::after {
  left: 60px;
}

.bread-crumbs a:nth-child(2)::after {
  left: 134px;
}

/* main*/
/* .main-catalog {
  border-bottom: 1px solid #a9bbb1;

} */

.bread-crumbs,
.sort-list li {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
}

h1.catalog {
  margin: 0;
  font-weight: 700;
  margin-bottom: 25px;
}

/* форма сортировки */

.fieldset {
  margin: 0;
 padding: 0;
 border: none;
}

.sort-block {
  width: 860px;
  position: relative;
  margin-bottom: 16px;
}

.sorting-select {
  display: inline-block;
  margin-right: 10px;
}

.sort label,
.sort legend {
  display: inline-block;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  margin-bottom: 6px;
  margin-left: 16px;
}

.sort .user-nav-btn {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
}

.select-option {
  width: 157px;
  height: 39px;
  padding-right: 36px;
  border-radius: 20px;
  margin-right: 0;
}

.select-option::before {
  position: absolute;
  top: 23px;
  left: 155px;
  content: "";
  width: 20px;
  height: 20px;
  padding: 9px;
  border-radius: 20px;
  background-color: transparent;
  background-image: url(../img/icon-down-dir.png);
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1;
}

.sort-by {
  position: relative;
  top: 0px;
  left: 2px;
  width: 194px;
  background-color: rgba(255,255,255,0.2);
  color: white;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 12px;
  padding-right: 37px;
  border-radius: 20px;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
}

.sort-by::-ms-expand {
  display: none;
}

.select-option::after {
  position: absolute;
  top: 23px;
  left: 155px;
  content: "";
  width: 20px;
  height: 20px;
  padding: 9px;
  border-radius: 20px;
  background-color: transparent;
  background-image: url(../img/select-arrow.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.sort-by option {
  color: black;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
}

.sort-by:hover {
  color: black;

}

.select-option:hover::before {
  visibility: hidden;
}

.range-select {
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
}

.price-range {
  position: relative;
  padding: 16px 22px;
  background-color: rgba(255,255,255,0.2);
  border-radius: 20px;
}

.range {
  width: 176px;
  height: 5px;
  background-color: #d1dad3;
}

.ranged {
  position: absolute;
  top: 16px;
  left: 47px;
  width: 90px;
  height: 5px;
  background-color: #f8f7f4;
}

.min-btn,
.max-btn {
  position: absolute;
  top: -7px;
  content: "";
  width: 22px;
  height: 23px;
  background-image: url(../img/filter-button.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.min-btn:hover,
.max-btn:hover {
  cursor: pointer;
}

.min-btn {
  left: -12px;
}

.max-btn {
  left: 86px;
}

.fats-select {
  display: inline-block;
  vertical-align: top;
}

.fats {
  position: relative;
  padding-top: 11px;
  padding-bottom: 10px;
  padding-left: 14px;
  padding-right: 14px;
  background-color: rgba(255,255,255,0.2);
  border-radius: 20px;
}

.fats label {
  display: inline-block;
  padding-left: 40px;
  margin: 0;
  margin-right: 5px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
}

.fats label:first-of-type {
  padding-left: 33px;
}

.fats label::before {
  position: absolute;
  top: 6px;
  content: "";
  width: 25px;
  height: 25px;
  background-image: url(../img/radio-off.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.fats label:hover::before {
  background-image: url(../img/radio-off-hover.svg);
}

.fats label:first-of-type::before {
  left: 14px;
}

.fats label:nth-of-type(2)::before {
  left: 85px;
}

.fats label:nth-of-type(3)::before {
  left: 188px;
}

.fats label:nth-of-type(4)::before {
  left: 289px;
}

#zero:checked ~ label[for="zero"]::before,
#under-ten:checked ~ label[for="under-ten"]::before,
#under-thirty:checked ~ label[for="under-thirty"]::before,
#thirty-more:checked ~ label[for="thirty-more"]::before {
  background-image: url(../img/radio-on.svg);
}

#zero:checked ~ label[for="zero"]:hover::before,
#under-ten:checked ~ label[for="under-ten"]:hover::before,
#under-thirty:checked ~ label[for="under-thirty"]:hover::before,
#thirty-more:checked ~ label[for="thirty-more"]:hover::before {
  background-image: url(../img/radio-on-hover.svg);
}

.toppings-select {
  display: inline-block;
  margin-bottom: 40px;
  margin-right: 9px;
}

.toppings {
  position: relative;
  padding-top: 11px;
  padding-bottom: 8px;
  padding-left: 15px;
  padding-right: 6px;
  background-color: rgba(255,255,255,0.2);
  border-radius: 20px;
}

.toppings label {
  display: inline-block;
  margin: 0;
  margin-right: 14px;
  padding-left: 33px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
}

.toppings label:nth-of-type(2),
.toppings label:nth-of-type(4) {
  margin-right: 18px;
}

.toppings label::before {
  position: absolute;
  top: 5px;
  content: "";
  width: 25px;
  height: 25px;
  background-image: url(../img/checkbox-off.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.toppings label:hover::before {
  background-image: url(../img/checkbox-off-hover.svg);
}

.toppings label:nth-of-type(1)::before {
    left: 14px;
}


.toppings label:nth-of-type(2)::before {
    left: 163px;
}

.toppings label:nth-of-type(3)::before {
  left: 367px;
}

.toppings label:nth-of-type(4)::before {
  left: 482px;
}

.toppings label:nth-of-type(5)::before {
  left: 592px;
}

#choco:checked ~ label[for="choco"]::before,
#sugars:checked ~ label[for="sugars"]::before,
#fruits:checked ~ label[for="fruits"]::before,
#syrop:checked ~ label[for="syrop"]::before,
#jam:checked ~ label[for="jam"]::before {
  background-image: url(../img/checkbox-on.svg);
}

#choco:checked ~ label[for="choco"]:hover::before,
#sugars:checked ~ label[for="sugars"]:hover::before,
#fruits:checked ~ label[for="fruits"]:hover::before,
#syrop:checked ~ label[for="syrop"]:hover::before,
#jam:checked ~ label[for="jam"]:hover::before {
  background-image: url(../img/checkbox-on-hover.svg);
}


.submit-sorting {
  padding-top: 9px;
  padding-bottom: 6px;
  padding-left: 28px;
  padding-right: 27px;
  background-color: rgba(255,255,255,0.2);
  border-radius: 20px;
  border: 2px solid white;
}

.submit-sorting:hover,
.submit-sorting:focus {
  background-color: white;
  color: black;
}

.submit-sorting:active {
  background-color: #eaeaea;
  color: black;
  -webkit-box-shadow: inset 0px 2px 2px rgba(105,105,105,1);
          box-shadow: inset 0px 2px 2px rgba(105,105,105,1);
  border: none;
}

.advertising-wrapper {
  width: 100%;
  min-height: 230px;
  margin-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.advertising-wrapper section {
  padding: 16px 20px;
  border-radius: 15px;
}

.advertising-wrapper h3 {
  margin: 0;
  margin-bottom: 19px;
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
}

.advertising-wrapper span {
  font-size: 18px;
  line-height: 22px;
}

.advertising-wrapper a {
  display: inline-block;
  padding: 11px 22px;
  border-radius: 20px;
  font-size: 18px;
  line-height: 24px;
  text-decoration: none;
  margin-top: 44px;
  float: right;
}

.main-left-banner {
  background-size: 787px 410px;
  background-image: url(../img/rasberry.jpg);
  background-repeat: no-repeat;
  background-position: -50px -92px;
  background-color: #cf2a56;
  width: 520px;
}

.main-right-banner {
  background-size: 787px 410px;
  background-image: url(../img/chocolate.jpg);
  background-repeat: no-repeat;
  background-position: -200px -170px;
  background-color: #5f3a25;
  width: 520px;
}

.best-products-list,
.product-list {
  margin: 0;
  padding: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.product-list {
  margin-bottom: 37px;
}

.product-item {
  position: relative;
  width: 266px;
  min-height: 362px;
}

.product-item:hover {
  z-index: 50;
}

.best-products-list .product-item::before {
  position: absolute;
  content: "";
  width: 61px;
  height: 61px;
  background-image: url(../img/hit.svg);
  z-index: 10;
}

.catalog {
  font-size: 35px;
  line-height: 41px;
}

.item-list {
  position: relative;
  margin-top: 1px;
  margin-bottom: 27px;
}



.product-item img {
  position: relative; /* было абсолют*/
  left: 14px;
  top: 8px;
  z-index: 0;
  border-radius: 51%;
  z-index: 2;  /* добавила*/
}

p.price {
  position: absolute;
  top: 217px;
  left: 12px;
  margin: 0;
  z-index: 3;
}

.price span:last-of-type::before {
  position: absolute;
  left: -32px;
  top: -5px;
  content: "";
  width: 31px;
  height: 36px;
  background-image: url(../img/ruble.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.product-item span.item-price {
    font-size: 45px;
    line-height: 45px;
    font-weight: 700;
  }

span.kg {
    margin-left: 32px;
    position: relative;
    font-size: 29px;
}

.product-item a.product-item-name {
  position: relative;
  top: 17px;
  display: inline-block;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  margin-top: 2px;
  padding-left: 14px;
  line-height: 22px;
  font-weight: 500;
  width: 266px;
}

.item {
  position: absolute;
  left: -14px;
  top: -9px;
  width: 294px;
  min-height: 403px;
  border-radius: 5px;
  z-index: 1; /*добавила*/
    /* background-color: rgba(255,255,255,0.3); */
}


a.see-item {
  position: absolute;
  left: 47px;
  top: 339px;
  padding: 16px 17px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  margin: 0 auto;
  visibility: hidden;
  text-decoration: none;
  z-index: 2;
}

li.product-item:hover div.item {
  background-color: rgba(255,255,255,0.3);
}

li.product-item:hover .see-item {
  visibility: visible;
}

.features {
  background-image: url(../img/waffle.jpg);
  background-color: #efe4cb;
  padding-top: 26px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 10px;
  margin-bottom: 39px;
}

.features h3,
.features span {
  color: #323232;
}

.features h3 {
  margin: 0;
  margin-bottom: 22px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
}

.features-list {
  position: relative;
}

.features-list span {
  display: inline-block;
  width: 481px;
  padding-left: 56px;
  margin-bottom: 25px;
  vertical-align: top;
  line-height: 22px;
  font-weight: 400;
}

.features-list span:nth-child(2n) {
  margin-left: 26px;
}

.features-list span:nth-child(1)::before {
  position: absolute;
  left: 0px;
  top: -13px;
  content: "";
  background-image: url(../img/ice-cream.svg);
  background-repeat: no-repeat;
  background-size: 51px 51px;
  width: 51px;
  height: 51px;
}
.features-list span:nth-child(2)::before {
  position: absolute;
  left: 565px;
  top: -13px;
  content: "";
  background-image: url(../img/cow.svg);
  background-repeat: no-repeat;
  width: 52px;
  height: 52px;
}
.features-list span:nth-child(3)::before {
  position: absolute;
  left: 0px;
  top: 75px;
  content: "";
  background-image: url(../img/leaf.svg);
  background-repeat: no-repeat;
  width: 52px;
  height: 52px;
}

.features-list span:nth-child(4)::before {
  position: absolute;
  left: 565px;
  top: 75px;
  content: "";
  background-image: url(../img/thermometer.svg);
  background-repeat: no-repeat;
  width: 51px;
  height: 51px;
}

.blog-article {
  display: inline-block;
  background-color: #ffffff;
  background-image: url(../img/strawberry-blog.jpg);
  background-repeat: no-repeat;
  background-position: -52px -222px;
  width: 520px;
  height: 170px;
  border-radius: 15px;
  padding: 25px 20px;

}

.blog-article p {
  margin: 0;
}
.blog-article,
.blog-article a {
  color: black;
}

.blog-article a {
  display: inline-block;
  margin-top: 8px;
  width: 282px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}

.subscribtion {
  display: inline-block;
  padding: 5px;
  margin-left: 23px;
  vertical-align: top;
  background-image: url(../img/postal-gradient.png);
  background-size: 560px 220px;
  border-radius: 15px;
  margin-bottom: 40px;
}

.subscribtion-wrapper{
  background-color: #f8f7f4;
  width: 509px;
  height: 144px;
  border-radius: 15px;
  padding-left: 21px;
  padding-right: 18px;
  padding-top: 32px;
  padding-bottom: 34px;
}

.subscribtion span {
  display: inline-block;
  color: #5a5a5a;
  font-weight: 400;
  line-height: 22px;
  margin-bottom: 34px;
}

.main-input-field {
  width: 368px;
  height: 45px;
  border: 1px solid #d3d3d2;
  border-radius: 5px;
  padding-left: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
}

.main-input-field:hover {
    border: 2px solid #d3d3d2;
}

.main-input-field:focus {
  outline: none;
  border: 2px solid #8fbdec;
  border-radius: 5px;
}


.submit-subscribe {
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 20px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  margin-left: 5px;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
}

.map {
  position: relative;
  left: -27px;
  width: 1200px;
  height: 430px;
  background-image: url(../img/map.jpg);
  background-position: 0px -107px;
  overflow: hidden;
}

.map img {

  position: relative;
  top: -107px;
  left: 0px;
}

.map::before {
  position: absolute;
  top: 173px;
  left: 300px;
  content: "";
  width: 170px;
  height: 117px;
  background-image: url(../img/pin-shadow.png);
  background-repeat: no-repeat;
  z-index: 3;
}

.map::after {
  position: absolute;
  top: 139px;
  left: 264px;
  content: "";
  width: 80px;
  height: 140px;
  background-image: url(../img/pin.svg);
  background-repeat: no-repeat;
  z-index: 4;
}

.contact-us {
  position: absolute;
  right: 25px;
  bottom: 63px;
  background-color: #fefefe;
  color: black;
  width: 252px;
  padding-left: 26px;
  padding-right: 26px;
  padding-bottom: 29px;
  padding-top: 29px;
  border-radius: 15px;
}

.contact-us span {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  display: block;
}

.contact-us span:nth-child(2n+1) {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

.contact-us span:nth-child(2) {
  margin-bottom: 17px;
}

.contact-us span:nth-child(3) {
  margin-bottom: 8px;
}

.feedback span:first-child {
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
}

.call-feedback {
  padding-left: 27px;
  padding-right: 28px;
  padding-top: 11px;
  padding-bottom: 10px;
  margin-top: 24px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  border-radius: 24px;
  border: none;
}

.call-feedback:active ~ .feedback-wrapper {
  display: block;
}

.catalog-paginator {
  position: relative;
  bottom: -2px;
  right: 1px;
  margin: 0;
  margin-right: -8px;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.paginator-btn {
  display: inline-block;
  width: 29px;
  height: 23px;
  padding-top: 6px;
  text-decoration: none;
  text-align: center;
  border-radius: 50%;
  background-color: transparent;
}

.paginator-btn:hover {
  background-color: rgba(255,255,255,0.5);
}

.catalog-current,
.paginator-btn:active {
  background-color: white;
  color: black;
}

li.prev,
li.next {
  background-color: transparent;
  background-image: url(../img/icon-right-small.svg);
  background-repeat: no-repeat;
  background-position: center;
}

li.prev {
  -webkit-transform: scaleX(-1);
      -ms-transform: scaleX(-1);
          transform: scaleX(-1);
  }

a.disabled {
  background-color: #849d8f;
  opacity: 0.6;
}

a.main-btn,
button.main-btn {
  padding-top: 10px;
  padding-bottom: 11px;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  background-color: #f26843;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f26843), to(#e74a35));
  background-image: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background-image: -o-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background-image: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 50px;
  -webkit-box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
          box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
}

a.main-btn.slide-button {
  padding-top: 10px;
}

.main-btn:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f58669), to(#ec6f5e));
  background-image: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background-image: -o-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background-image: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  -webkit-box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
          box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}
.main-btn:focus {
  outline: none;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f58669), to(#ec6f5e));
  background-image: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background-image: -o-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background-image: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  -webkit-box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
          box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}
.main-btn:active {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#d84732), to(#e1613e));
  background-image: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background-image: -o-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background-image: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  -webkit-box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
          box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}
/* footer*/

.main-footer {
  padding-top: 20px;
  padding-bottom: 25px;
}

.footer-wrapper {
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

a.social-button {
  display: inline-block;
  width: 36px;
  height: 34px;
  border: 2px solid #c2cec7;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 50%;
}

a.twitter {
  background-image: url(../img/twitter.svg);
  background-position: center;
  background-repeat: no-repeat;
}

a.instagram {
  background-image: url(../img/instagram.svg);
  background-position: center;
  background-repeat: no-repeat;
}

a.facebook {
  background-image: url(../img/fb.svg);
  background-position: center;
  background-repeat: no-repeat;
}

a.vkontakte {
  background-image: url(../img/vk.svg);
  background-position: center;
  background-repeat: no-repeat;
}

a.twitter:hover {
  background-image: url(../img/twitter-white.svg);
}
a.facebook:hover {
  background-image: url(../img/fb-white.svg);
}
a.instagram:hover {
  background-image: url(../img/instagram-white.svg);
}
a.vkontakte:hover {
  background-image: url(../img/vk-white.svg);
}

 .social li {
    margin-right: 14px;
    width: 36px;
    height: 36px;
  }

.social li:last-of-type {
  margin-right: 3px;
}


.social {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-info p {
  margin-top: 13px;
}

.footer-info p:last-of-type {
  margin-left: 27px;
}

.left-footer-info a.info,
.right-footer-info a.info {
  display: inline-block;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  text-decoration: none;
  /* border-bottom: 0.5px solid #9db1a5; */
}

.footer-info a:hover,
.footer-info a:focus,
.footer-info a:active {
  color: #ffbc9e;
  border-bottom-color: #ffbc9e;
}

.left-footer-info a:last-of-type,
.right-footer-info a:last-of-type {
  margin-top: 3px;
}

.left-footer-info a.bold {
  font-weight: 700;

}

.left-footer-info {
  position: relative;
}

.left-footer-info .bold::before {
  position: absolute;
  left: -26px;
  content: "";
  width: 20px;
  height: 13px;
  background-color: transparent;
  background-image: url(../img/heart.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.footer-copyright {
  margin: 0;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}

.footer-copyright a.academy-logo {
  display: inline-block;
  width: 110px;
  height: 36px;
  background-image: url(../img/logo-htmlacademy-small.png);
  background-repeat: no-repeat;
  background-position: left;
}

 a.academy:hover,
 a.academy:focus,
 a.academy:active {
  color: #ffbc9e;
  border-bottom-color: #ffbc9e;
}

/* скрытые элементы*/

/* поиск*/
.user-nav li.search {
  position: relative;
}

.search-field {
  display: none;
  background-color: #f8f7f4;
  padding: 20px 16px;
  border-radius: 5px;
  border: none;
  position: absolute;
  left: -310px;
  top: 37px;
  -webkit-box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.search-field:hover {
  display: block;
}

.search-field input {
  width: 310px;
  height: 44px;
  border: 1px solid #d3d3d2;
  border-radius: 5px;
  padding: 20px 16px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
}

.search-field input:hover {
    border: 2px solid #d3d3d2;
}

.search-field input:focus {
  outline: none;
  border: 2px solid #8fbdec;
  border-radius: 5px;
}

::-webkit-input-placeholder {
  color:#999999;
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
}
::-moz-placeholder          {
  color:#999999;
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
}
:-moz-placeholder           {
  color:#999999;
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
}
:-ms-input-placeholder      {
  color:#999999;
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
}

:focus::-webkit-input-placeholder {
  color: transparent;
}

:focus::-moz-placeholder          {
  color: transparent;
}

:focus:-moz-placeholder           {
  color: transparent;
}

:focus:-ms-input-placeholder      {
  color: transparent;
}

/* конец блока Поиск*/

/*подменю Каталога*/
.site-navigation li.catalogue {
  position: relative;
}

.catalogue-items {
  display: none;
  position: absolute;
  top: 31px;
  left: -4px;
  background-color: #f8f7f4;
  border-radius: 5px;
  -webkit-box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  font-size: 14px;
  line-height: 16px;
  width: 143px;
  z-index: 10;
}

.catalogue-items:hover {
  display: block;
  z-index: 10;
}

ul.catalogue-items {
  padding: 0;
  overflow: hidden;
}

.catalogue-items a,
.catalogue-items h3 {
  margin: 0;
  padding-left: 20px;
  padding-top: 9px;
  padding-bottom: 9px;
  color: black;
}
.catalogue-items h3 {
  padding: 11px 20px;
  position: relative;
}

.catalogue-items h3::after {
  position: absolute;
  top: 37px;
  left: 6px;
  content:"";
  width: 128px;
  height: 1px;
  background-color: #d1d0ce;
}

.catalogue-items a {
  display: inline-block;
  text-decoration: none;
  font-weight: 400;
  width: 143px;
}

.catalogue-items a.current-page {
    background-color: #d07058;
  }

.catalogue-items a:hover,
.catalogue-items a:focus {
  background-color: #fbded7;
}

.catalogue-items a:active {
  background-color: #f6b5a5;
}


/* конец подменю Каталога*/

/* форма входа*/
li.login {
  position:  relative;
}

.login-form {
  display: none;
  position: absolute;
  left: -182px;
  top: 28px;
  background-color: #f8f7f4;
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
  padding-right: 16px;
  border-radius: 5px;
  border: none;
  z-index: 10;
  -webkit-box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.login-form:hover {
  display: block;
}

.login-form input {
  width: 240px;
  height: 44px;
  border: 1px solid #d3d3d2;
  border-radius: 5px;
  padding-left: 12px;
  margin-bottom: 19px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
}

.login-form input:hover {
    border: 2px solid #d3d3d2;
}

.login-form input:focus {
  outline: none;
  border: 2px solid #8fbdec;
  border-radius: 5px;
}

.login-form a {
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  color: black;
}

.login-form a.login-not-possible:hover,
.login-form a.login-not-possible:focus,
.login-form a.login-not-possible:active {
  color: #e84d37;
  background-color: transparent;
}

.submit-login-btn {
  float: left;
  padding-left: 23px;
  padding-right: 26px;
  font-size: 18px;
  line-height: 24px;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-top-left-radius: 15px 22px;
  border-top-right-radius: 15px 22px;
  border-bottom-left-radius: 15px 22px;
  border-bottom-right-radius: 15px 22px;
  margin-right: 19px;
}

.login-form p {
  display: inline-block;
  margin: 0;
}

/* конец формы входа*/

/* форма обратной связи*/
.feedback-wrapper {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0,0.3);
  z-index: 5;
}

.feedback {
  position: absolute;
  top: 338px;
  left: 50%;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 24px;
  padding-top: 17px;
  width: 427px;
  margin-left: -250px;
  margin-top: -221px;
  background-color: #f8f7f4;
  border-radius: 5px;
}

.feedback span {
  display: inline-block;
  color: black;
  margin-bottom: 17px;
}

.feedback-field,
.feedback-textfield {
  padding: 0;
  border: 1px solid #d3d3d2;
  border-radius: 5px;
  padding-left: 14px;

  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;

}

.feedback-field:hover,
.feedback-textfield:hover {
    border: 2px solid #d3d3d2;
}

.feedback-field:focus,
.feedback-textfield:focus {
  outline: none;
  border: 2px solid #8fbdec;
  border-radius: 5px;
}


.feedback-field {
  width: 266px;
  height: 42px;
  margin-bottom: 20px;
}

.feedback-textfield {
  width: 411px;
  height: 139px;
  resize: none;
  margin-bottom: 25px;
  padding-top: 13px;
}

.submit-feedback-btn {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  padding-left: 24px;
  padding-right: 24px;
  border-radius: 50px;
  float:right;
  border: none;
}

.feedback-close {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 20px;
  height: 20px;
  background-color: transparent;
  background-image: url(../img/cross-big.svg);
  background-repeat: no-repeat;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

/*конец формы обратной связи*/

/* товары в корзине */
li.cart {
  position: relative;
}

.cart-items {
  display: none;
  position: absolute;
  left: -422px;
  top: 27px;
  z-index: 1;
  width: 500px;
  min-height: 203px;
  background-color: #f8f7f4;
  border-radius: 5px;
  -webkit-box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  color: black;
  padding: 19px 20px;
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
}

.cart-items:hover {
  display: block;
}

.cart-items-list {
  padding: 0;
  margin-bottom: 37px;
  padding-right: 14px;
}

.cart-items-list::after {
  position: absolute;
  top: 130px;
  left: 20px;
  content:"";
  width: 500px;
  height: 1px;
  background-color: #d1d0ce;
}

.cart-items-list .cart-item {
  position: relative;
  padding-left: 21px;
  margin: 0;
  min-height: 35px;
  margin-bottom: 20px;
}

.cart-item img{
  float: left;
}

.cart-item p {
  margin: 0;
  padding-left: 13px;
  min-height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;

}

.item-description span{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.second-item .cart-item-name {
  margin-bottom: -12px;
}

.cart-item span:first-of-type {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 216px;
}

.delete-item-btn {
  position: absolute;
  left: 0px;
  top: 10px;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  width: 11px;
  height: 11px;
  background-image: url(../img/cross-small.svg);
  background-repeat: no-repeat;
}

p.total-price {
  display: block;
  text-align: right;
  font-size: 15px;
  line-height: 18px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 14px;
}

.cart-items a {
  display: inline-block;
  float: right;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  border-top-left-radius: 15px 23px;
  border-top-right-radius: 15px 23px;
  border-bottom-left-radius: 15px 23px;
  border-bottom-right-radius: 15px 23px;
  color: white;
  text-decoration: none;
}

p.total-price,
.cart-items a {
  margin-right: -6px;
}

/**/
