body {
  margin: auto;
  padding: 0;
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  color: #ffffff;
}

a,
button {
  color: #ffffff;
}


.main-btn {
  padding-top: 11px;
  padding-bottom: 11px;
  border: none;
  box-shadow: none;
  background-image: linear-gradient(to top, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  box-shadow: 0px 1px 2px 0px rgba(172, 16, 0, 0.004);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.no-markers {
  list-style: none;
}

.container {
  max-width: 1145px;
  padding: 0 2.3%;
  margin: auto;
}


.site-wrapper {
  min-width: 940px;
  background-image: url("../img/slider-image-1.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-color: #849d8f;
}

/* header*/

.main-header {
  padding: 0;
  padding-top: 9px;
  position: relative;
}

.main-header p{
  margin: 0;
}

.top-header-wrapper {
  width: 1144px;
  display: flex;
}

.main-navigation {
  min-height: 98px;
  width: 992px;
  padding-top: 13px;
  margin-left: 10px;
}

.main-navigation-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.nav-btn {
  border: none;
  box-shadow: none;
  border-radius: 20px;
  background-color: rgba(225, 225, 225, 0.2);
}

a.nav-btn {
  position: relative;
  text-decoration: none;
}

a.underline,
span.underline {
  text-decoration: none;
  border-bottom: 0.5px solid #9db1a5;
}

span.index-underline {
  text-decoration: none;
  border-bottom: 1px solid #a7bdb1;
}

.site-navigation {
  width: 387px;
  margin: 0;
  padding: 0;
  padding-top: 8px;
  display:flex;
}


.site-navigation .nav-btn {
  background-color: transparent;
  padding: 8px 14px;
}

.user-nav,
.sort-labels {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

.user-nav li {
  margin-right: 10px;
}

.user-nav {
  width: 267px;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  margin-right: -6px;
}

.user-nav a.search-btn {
  display: inline-block;
  width: 33px;
  height: 33px;
  background-image: url(../img/search.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.login-btn {
  position: relative;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 45px;
  padding-right: 17px;
}

.login-btn span:before {
  content: "";
  position: absolute;
  left: 17px;
  top: 6px;
  width: 22px;
  height: 22px;
  background-image: url(../img/login.svg);
  background-repeat: no-repeat;
}

a.cart-btn {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 35px;
  padding-left: 44px;

}

a.cart-btn:before {
  content: "";
  position: absolute;
  left: 16px;
  top: 7px;
  width: 22px;
  height: 22px;
  background-image: url(../img/basket-white.svg);
  background-repeat: no-repeat;
}

a.nav-btn.items-in-cart {
  background-color: white;
  padding-right: 18px;
}

a.nav-btn.items-in-cart:before {
  content: "";
  position: absolute;
  left: 15px;
  top: 8px;
  width: 22px;
  height: 22px;
  background-image: url(../img/basket-red.svg);
  background-repeat: no-repeat;
}

.main-header-info {
  position: absolute;
  right: 0px;
  top: 75px;
  text-align: right;
}

.main-header-info span:first-child {
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  vertical-align: top;

}
.main-header-info span:last-child {
  font-size: 22px;
  line-height: 24px;
}

.user-nav a:hover,
.user-nav a:focus,
.user-nav button:hover,
.user-nav button:focus,
.site-navigation a:hover,
.site-navigation a:focus,
.sort-list button,
.sort .nav-btn:focus,
.sort .nav-btn:hover {
  color: black;
  background-color: white;
}



.items-in-cart {
  color: black;
}

/* slider */



.slider {
  position: relative;
  padding-top: 273px;
  margin-bottom: 41px;
  text-align: center;
  color: #ffffff;
}

.slider-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slide {
  display: none;
}

.slide-title {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 27px;
  font-size: 60px;
  line-height: 60px;
  font-weight: 800;
}

.button {
  display: inline-block;
  padding: 12px 44px;
  font-weight: 600;
  font-size: 31px;
  line-height: 41px;
  text-align: center;
  color: #ffffff;
  vertical-align: top;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  background: #f26843;
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 50px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  border: none;
  cursor: pointer;
}

.button:hover {
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.button:active {
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.slider-controls {
  position: absolute;
  bottom: 20px;
  left: 0;
  z-index: 20;
  font-size: 0;
}

.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;
  vertical-align: top;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

#product-1:checked ~ .site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/slaider-image-1.png");
}

#product-2:checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: url("../img/slaider-image-2.png");
}


#product-3:checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/slaider-image-3.png");
}

#product-1:checked ~ .site-wrapper #slide1,
#product-2:checked ~ .site-wrapper #slide2,
#product-3:checked ~ .site-wrapper #slide3 {
  display: block;
}

#product-1:checked ~ .site-wrapper label[for="product-1"],
#product-2:checked ~ .site-wrapper label[for="product-2"],
#product-3:checked ~ .site-wrapper label[for="product-3"] {
  background-color: #ffffff;
}

.bread-crumbs {
  position: absolute;
  left: 0px;
  top: 100px;
}

.bread-crumbs a {
  display: inline-block;
  padding-right: 18px;
  text-decoration: none;

}

.bread-crumbs a::after {
  position: absolute;
  content: "»";
  text-align: center;
}

.bread-crumbs a:first-child::after {
  left: 60px;
}

.bread-crumbs a:nth-child(2)::after {
  left: 134px;
}

/* main*/
.main-catalog {
  border-bottom: 1px solid #a9bbb1;
}

.bread-crumbs,
.sort-list li {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
}

h1.catalog {
  margin: 0;
  font-weight: 700;
  margin-bottom: 25px;
}

.sorting-select {
  display: inline-block;
  margin-right: 9px;
}

.sort-block {
  width: 860px;
  position: relative;
  margin-bottom: 12px;
}

.sort label {
  display: inline-block;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  margin-bottom: 5px;
  margin-left: 16px;
}

.sort .user-nav-btn {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
}

.select-option {
  width: 157px;
  height: 39px;
  padding-right: 37px;
  border-radius: 20px;
  margin-right: 0;
}

.select-option::before {
  position: absolute;
  top: 23px;
  left: 155px;
  content: "";
  width: 20px;
  height: 20px;
  padding: 9px;
  border-radius: 20px;
  background-color: transparent;
  background-image: url(../img/icon-down-dir.png);
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1;
}


.sort-by {
  position: relative;
  top: 0px;
  left: 2px;
  width: 194px;
  background-color: rgba(255,255,255,0.2);
  color: white;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 12px;
  padding-right: 37px;
  border-radius: 20px;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
}

.sort-by::-ms-expand {
  display: none;
}

.select-option::after {
  position: absolute;
  top: 23px;
  left: 155px;
  content: "";
  width: 20px;
  height: 20px;
  padding: 9px;
  border-radius: 20px;
  background-color: transparent;
  background-image: url(../img/select-arrow.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.sort-by option {
  color: black;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
}

.sort-by:hover {
  color: black;
  background-color: #ffffff;
}

.select-option:hover::before {
  visibility: hidden;
}

.range-select {
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
}

.price-range {
  position: relative;
  padding: 16px 22px;
  background-color: rgba(255,255,255,0.2);
  border-radius: 20px;
}

.range {
  width: 176px;
  height: 5px;
  background-color: #d1dad3;
}

.ranged {
  position: absolute;
  top: 16px;
  left: 47px;
  width: 90px;
  height: 5px;
  background-color: #f8f7f4;
}

.min-btn,
.max-btn {
  position: absolute;
  top: -7px;
  content: "";
  width: 22px;
  height: 22px;
  background-image: url(../img/filter-button.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.min-btn {
  left: -12px;
}

.max-btn {
  left: 86px;
}

.fats-select {
  display: inline-block;
  vertical-align: top;
}

.fats {
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 14px;
  padding-right: 14px;
  background-color: rgba(255,255,255,0.2);
  border-radius: 20px;
}

.fats label {
  display: inline-block;
  padding-left: 40px;
  margin: 0;
  margin-right: 5px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
}

.fats label:first-of-type {
  padding-left: 33px;
}

.fats label::before {
  position: absolute;
  top: 6px;
  content: "";
  width: 25px;
  height: 25px;
  background-image: url(../img/radio-off.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.fats label:first-of-type::before {
  left: 13px;
}

.fats label:nth-of-type(2)::before {
  background-image: url(../img/radio-on.svg);
  left: 84px;
}

.fats label:nth-of-type(3)::before {
  left: 184px;
}

.fats label:nth-of-type(4)::before {
  left: 290px;
}

.toppings-select {
  display: inline-block;
  margin-bottom: 40px;
  margin-right: 9px;
}

.toppings {
  position: relative;
  padding-top: 11px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 6px;
  background-color: rgba(255,255,255,0.2);
  border-radius: 20px;
}

.toppings label {
  display: inline-block;
  margin: 0;
  margin-right: 14px;
  padding-left: 33px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
}

.toppings label:nth-of-type(2),
.toppings label:nth-of-type(4) {
margin-right: 18px;
}

.toppings label::before {
  position: absolute;
  top: 5px;
  content: "";
  width: 25px;
  height: 25px;
  background-image: url(../img/checkbox-off.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.toppings label:nth-of-type(1)::before {
  background-image: url(../img/checkbox-on.svg);
  left: 13px;
}

.toppings label:nth-of-type(2)::before {
  background-image: url(../img/checkbox-on.svg);
  left: 162px;
}

.toppings label:nth-of-type(3)::before {
  left: 368px;
}

.toppings label:nth-of-type(4)::before {
  left: 482px;
}

.toppings label:nth-of-type(5)::before {
  left: 591px;
}

.submit-sorting {
  padding-top: 6px;
  padding-bottom: 9px;
  padding-left: 28px;
  padding-right: 28px;
  background-color: rgba(255,255,255,0.2);
  border-radius: 20px;
  border: 2px solid white;
}

.advertising-wrapper {
  width: 100%;
  min-height: 230px;
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
}

.advertising-wrapper section {
  padding: 18px 20px;
  border-radius: 15px;
}

.advertising-wrapper h3 {
  margin: 0;
  margin-bottom: 18px;
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
}

.advertising-wrapper span {
  font-size: 18px;
  line-height: 22px;
}

.advertising-wrapper a {
  display: inline-block;
  padding: 11px 22px;
  border-radius: 20px;
  font-size: 18px;
  line-height: 24px;
  text-decoration: none;
  margin-top: 42px;
  float: right;
}

.main-left-banner {
  background-size: 787px 410px;
  background-image: url(../img/rasberry.jpg);
  background-repeat: no-repeat;
  background-position: -50px -92px;
  background-color: #cf2a56;
  width: 520px;
}

.main-right-banner {
  background-size: 787px 410px;
  background-image: url(../img/chocolate.jpg);
  background-repeat: no-repeat;
  background-position: -200px -170px;
  background-color: #5f3a25;
  width: 520px;
}

.best-products-list,
.product-list {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.product-list {
  margin-bottom: 37px;
}

.product-item {
  position: relative;
  width: 266px;
  min-height: 362px;
}

.best-products-list .product-item::before {
  position: absolute;
  content: "";
  width: 61px;
  height: 61px;
  background-image: url(../img/hit.svg);
}

.catalog {
  font-size: 35px;
  line-height: 41px;
}

.item-list {
  position: relative;
  margin-top: 1px;
  margin-bottom: 27px;

}


.product-item-name {
  margin-top: 2px;
  line-height: 22px;
  font-weight: 500;
}

.product-item img {
  border-radius: 51%;
}

img.rubles {
  vertical-align: baseline;
  margin-bottom: -2px;
}

.product-item p {
  margin: 0;
  position: relative;
  top: -62px;
  vertical-align: bottom;
}

.product-item span.item-price {
    font-size: 45px;
    line-height: 45px;
    font-weight: 700;
  }

span.kg {
  font-size: 29px;
}

.product-item a.product-item-name {
  position: relative;
  top: -40px;
  display: inline-block;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
}

.features {
  background-image: url(../img/waffle.jpg);
  background-color: #efe4cb;
  padding-top: 26px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 10px;
  margin-bottom: 40px;
}

.features h3,
.features span {
  color: #323232;
}

.features h3 {
  margin: 0;
  margin-bottom: 19px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
}

.features-list {
  position: relative;
}
.features-list span {
  display: inline-block;
  width: 481px;
  padding-left: 56px;
  margin-bottom: 25px;
  vertical-align: top;
  line-height: 22px;
  font-weight: 400;
}

.features-list span:nth-child(2n) {
  margin-left: 26px;
}

.features-list span:nth-child(1)::before {
  position: absolute;
  left: 0px;
  top: -13px;
  content: "";
  background-image: url(../img/ice-cream.svg);
  background-repeat: no-repeat;
  background-size: 51px 51px;
  width: 51px;
  height: 51px;
}
.features-list span:nth-child(2)::before {
  position: absolute;
  left: 565px;
  top: -13px;
  content: "";
  background-image: url(../img/cow.svg);
  background-repeat: no-repeat;
  width: 52px;
  height: 52px;
}
.features-list span:nth-child(3)::before {
  position: absolute;
  left: 0px;
  top: 75px;
  content: "";
  background-image: url(../img/leaf.svg);
  background-repeat: no-repeat;
  width: 52px;
  height: 52px;
}
.features-list span:nth-child(4)::before {
  position: absolute;
  left: 565px;
  top: 75px;
  content: "";
  background-image: url(../img/thermometer.svg);
  background-repeat: no-repeat;
  width: 51px;
  height: 51px;
}




.blog-article {
  display: inline-block;
  background-color: #ffffff;
  background-image: url(../img/strawberry-blog.jpg);
  background-repeat: no-repeat;
  background-position: -52px -222px;
  width: 520px;
  height: 170px;
  border-radius: 15px;
  padding: 26px 20px;

}

.blog-article p {
  margin: 0;
}
.blog-article,
.blog-article a {
  color: black;
}

.blog-article a {
  display: inline-block;
  margin-top: 8px;
  width: 282px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  
}




.subscribtion {
  display: inline-block;
  padding: 5px;
  margin-left: 24px;
  vertical-align: top;
  background-image: url(../img/postal-gradient.png);
  background-size: 560px 220px;
  border-radius: 15px;
  margin-bottom: 40px;
}

.subscribtion-wrapper{
  background-color: #f8f7f4;
  width: 506px;
  height: 144px;
  border-radius: 15px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 32px;
  padding-bottom: 34px;
}

.subscribtion span {
  display: inline-block;
  color: #5a5a5a;
  font-weight: 400;
  line-height: 22px;
  margin-bottom: 36px;
}
.main-input-field {
  width: 348px;
  height: 42px;
  border: 1px solid #d3d3d2;
  border-radius: 5px;
  padding-left: 15px;
}

.submit-subscribe {
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 20px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  margin-left: 5px;
}

.map {
  position: relative;
  left: -27px;
  width: 1200px;
  height: 430px;
  background-image: url(../img/map.jpg);
  background-position: 0px -107px;
  overflow: hidden;
}

.map img {
  /* display: none; */
  position: relative;
  top: -107px;
  left: 0px;
}

.map::before {
  position: absolute;
  top: 173px;
  left: 300px;
  content: "";
  width: 170px;
  height: 117px;
  background-image: url(../img/pin-shadow.png);
  background-repeat: no-repeat;
  z-index: 3;
}

.map::after {
  position: absolute;
  top: 139px;
  left: 264px;
  content: "";
  width: 80px;
  height: 140px;
  background-image: url(../img/pin.svg);
  background-repeat: no-repeat;
  z-index: 4;
}

.contact-us {
  position: absolute;
  right: 25px;
  bottom: 63px;
  background-color: #fefefe;
  color: black;
  width: 252px;
  padding-left: 26px;
  padding-right: 26px;
  padding-bottom: 29px;
  padding-top: 26px;
  border-radius: 15px;
}

.contact-us span {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  display: block;
}

.contact-us span:nth-child(2n+1) {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

.contact-us span:nth-child(2) {
  margin-bottom: 19px;
}

.contact-us span:nth-child(3) {
  margin-bottom: 8px;
}

.feedback span:first-child {
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
}

.call-feedback {
  padding-left: 27px;
  padding-right: 28px;
  padding-top: 11px;
  padding-bottom: 10px;
  margin-top: 22px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  border-radius: 24px;
}

.catalog-paginator {
  position: relative;
  bottom: 0px;
  right: 0px;
  margin: 0;
  margin-right: -8px;
  font-weight: 500;
  display: flex;
  justify-content: flex-end;
}


.paginator-btn {
  display: inline-block;
  width: 29px;
  height: 21px;
  padding-top: 6px;
  text-decoration: none;
  text-align: center;
  border-radius: 50%;
  background-color: transparent;
}

.catalog-current {
  background-color: white;
  color: black;
}

li.prev,
li.next {
  background-color: transparent;
  background-image: url(../img/icon-right-small.svg);
  background-repeat: no-repeat;
  background-position: center;
}

li.prev {
  transform: scaleX(-1);
  }

a.disabled {
  background-color: #849d8f;
  opacity: 0.6;
}
/* footer*/

.main-footer {
  padding-top: 20px;
  padding-bottom: 25px;
}

.footer-wrapper {
  display:flex;
  justify-content: space-between;
}

a.social-button {
  display: inline-block;
  width: 32px;
  height: 32px;
  border: 2px solid #c2cec7;
  border-radius: 50%;
}

a.twitter {
  background-image: url(../img/twitter.svg);
  background-position: center;
  background-repeat: no-repeat;
}

a.instagram {
  background-image: url(../img/instagram.svg);
  background-position: center;
  background-repeat: no-repeat;
}

a.facebook {
  background-image: url(../img/fb.svg);
  background-position: center;
  background-repeat: no-repeat;
}

a.vkontakte {
  background-image: url(../img/vk.svg);
  background-position: center;
  background-repeat: no-repeat;
}

 .social li  {
    margin-right: 14px;
  }

.social li:last-of-type {
  margin-right: 3px;
}


.social {
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.footer-info {
  display: flex;
  justify-content: space-between;
}

.footer-info p:last-of-type {
  margin-left: 28px;
}

.left-footer-info a.info,
.right-footer-info a.info {
  display: inline-block;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  text-decoration: none;
  border-bottom: 0.5px solid #9db1a5;
}

.left-footer-info a:last-of-type,
.right-footer-info a:last-of-type {
  margin-top: 3px;
}

.left-footer-info a.bold {
  font-weight: 700;

}

.left-footer-info {
  position: relative;
}

.left-footer-info .bold::before {
  position: absolute;
  left: -26px;
  content: "";
  width: 20px;
  height: 13px;
  background-color: transparent;
  background-image: url(../img/heart.svg);
  background-position: center;
  background-repeat: no-repeat;
}




.footer-copyright {
  margin: 0;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}

.footer-copyright a.academy-logo {
  display: inline-block;
  width: 110px;
  height: 40px;
  background-image: url(../img/logo-htmlacademy-small.png);
  background-repeat: no-repeat;
  background-position: left;
}

a.academy {
  text-decoration: none;
  border-bottom: 0.5px solid #9db1a5;
}

/* скрытые элементы*/

/* поиск*/
.user-nav li.search {
  position: relative;
}

.search-field {
  display: none;
  background-color: #f8f7f4;
  padding: 20px 16px;
  border-radius: 5px;
  border: none;
  position: absolute;
  left: -310px;
  top: 37px;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.search-field input {
  width: 310px;
  height: 44px;
  border: 1px solid #d3d3d2;
  border-radius: 5px;
  padding: 20px 16px;
}

::-webkit-input-placeholder {
  color:#999999;
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
}
::-moz-placeholder          {
  color:#999999;
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
}
:-moz-placeholder           {
  color:#999999;
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
}
:-ms-input-placeholder      {
  color:#999999;
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
}

:focus::-webkit-input-placeholder {
  color: transparent;
}

:focus::-moz-placeholder          {
  color: transparent;
}

:focus:-moz-placeholder           {
  color: transparent;
}

:focus:-ms-input-placeholder      {
  color: transparent;
}

/* конец блока Поиск*/

/*подменю Каталога*/
.site-navigation li.catalogue {
  position: relative;
}

.catalogue-items {
  display: none;
  position: absolute;
  top: 31px;
  left: -4px;
  background-color: #f8f7f4;
  border-radius: 5px;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  font-size: 14px;
  line-height: 16px;
  width: 143px;
}

ul.catalogue-items {
  padding: 0;
}

.catalogue-items a,
.catalogue-items h3 {
  margin: 0;
  padding: 9px 20px;
  color: black;
}
.catalogue-items h3 {
  padding: 11px 20px;
  position: relative;
}

.catalogue-items h3::after {
  position: absolute;
  top: 37px;
  left: 6px;
  content:"";
  width: 128px;
  height: 1px;
  background-color: #d1d0ce;
}

.catalogue-items a {
  display: inline-block;
  text-decoration: none;
  font-weight: 400;
  width: 103px;
  }
.catalogue-items a:hover {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
/* конец подменю Каталога*/

/* форма входа*/
li.login {
  position:  relative;
}

.login-form {
  display: none;
  position: absolute;
  left: -180px;
  top: 34px;
  background-color: #f8f7f4;
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
  padding-right: 16px;
  border-radius: 5px;
  border: none;
  z-index: 10;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.login-form input {
  width: 225px;
  height: 44px;
  border: 1px solid #d3d3d2;
  border-radius: 5px;
  padding-left: 14px;
  margin-bottom: 20px;
}

.login-form a {
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  color: black;
}

.submit-login-btn {
  float: left;
  padding-left: 26px;
  padding-right: 26px;
  font-size: 18px;
  line-height: 24px;
  border-top-left-radius: 15px 22px;
  border-top-right-radius: 15px 22px;
  border-bottom-left-radius: 15px 22px;
  border-bottom-right-radius: 15px 22px;
  margin-right: 19px;
}

.login-form p {
  display: inline-block;
  margin: 0;
}

/* конец формы входа*/

/* форма обратной связи*/
.feedback-wrapper {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0,0.3);
}

.feedback {
  position: absolute;
  top: 338px;
  left: 50%;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 24px;
  padding-top: 17px;
  width: 427px;
  margin-left: -250px;
  background-color: #f8f7f4;
  border-radius: 5px;
}

.feedback span {
  display: inline-block;
  color: black;
  margin-bottom: 17px;
}

.feedback-field,
.feedback-textfield {
  padding: 0;
  border: 1px solid #d3d3d2;
  border-radius: 5px;
  padding-left: 14px;

}

.feedback-field {
  width: 266px;
  height: 42px;
  margin-bottom: 20px;
}

.feedback-textfield {
  width: 411px;
  height: 139px;
  resize: none;
  margin-bottom: 25px;
  padding-top: 13px;
}

.submit-feedback-btn {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  padding-left: 24px;
  padding-right: 24px;
  border-radius: 50px;
  float:right;
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
}

.feedback-close {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 20px;
  height: 20px;
  background-color: transparent;
  background-image: url(../img/cross-big.svg);
  background-repeat: no-repeat;
  border: none;
  box-shadow: none;
}
/*конец формы обратной связи*/

/* товары в корзине */
li.cart {
  position: relative;
}

.cart-items {
  display: none;
  position: absolute;
  left: -418px;
  top: 27px;
  z-index: 1;
  width: 500px;
  min-height: 203px;
  background-color: #f8f7f4;
  border-radius: 5px;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  color: black;
  padding: 15px 20px;
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
}

.cart-items-list {
  padding: 0;
  margin-bottom: 40px;
  padding-right: 14px;
}

.cart-items-list::after {
  position: absolute;
  top: 130px;
  left: 20px;
  content:"";
  width: 500px;
  height: 1px;
  background-color: #d1d0ce;
}

.cart-items-list .cart-item {
  position: relative;
  padding-left: 26px;
  margin: 0;
  min-height: 35px;
  margin-bottom: 20px;
}

.cart-item img{
  float: left;
}

.cart-item p {
  margin: 0;
  padding-left: 13px;
  min-height: inherit;
  display: flex;
  justify-content: space-between;

}

.item-description span{
  display: flex;
  align-items: center;
}

.cart-item span:first-of-type {
  flex-wrap: wrap;
  width: 216px;
}

.delete-item-btn {
  position: absolute;
  left: 0px;
  top: 10px;
  border: none;
  box-shadow: none;
  background-color: transparent;
  width: 11px;
  height: 11px;
  background-image: url(../img/cross-small.svg);
  background-repeat: no-repeat;
}

p.total-price {
  display: block;
  text-align: right;
  font-size: 15px;
  line-height: 18px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 16px;
}

.cart-items a {
  display: inline-block;
  float: right;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  border-top-left-radius: 15px 23px;
  border-top-right-radius: 15px 23px;
  border-bottom-left-radius: 15px 23px;
  border-bottom-right-radius: 15px 23px;
  color: white;
  text-decoration: none;

}
