body {
  margin: 0;
  padding: 0;

  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  color: #ffffff;
  background-color: #849d8f;
}

a,
button {
color: #ffffff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.no-markers {
  list-style: none;
}

.main-header {
  padding: 10px;
  position: relative;
}

.main-header-info {
  position: absolute;
  right: 25px;
  top: 60px;
}
.user-nav,
.sort-labels {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

.user-nav li {
  margin-right: 10px;
}

.user-nav-btn {
  border: none;
  box-shadow: none;
  border-radius: 20px;
  background-color: rgba(225, 225, 225, 0.2);

}

a.user-nav-btn {
  position: relative;
  text-decoration: none;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 35px;
  padding-left: 45px;

}

a.user-nav-btn:before {
  content: "";
  position: absolute;
  left: 15px;
  top: 8px;
  width: 22px;
  height: 22px;
  background-image: url(../img/basket-white.svg);
  background-repeat: no-repeat;
}

a.user-nav-btn.items-in-cart {
  background-color: white;
  padding-right: 18px;
}

a.user-nav-btn.items-in-cart:before {
  content: "";
  position: absolute;
  left: 15px;
  top: 8px;
  width: 22px;
  height: 22px;
  background-image: url(../img/basket-red.svg);
  background-repeat: no-repeat;
}

.search-btn {
  width: 33px;
  height: 33px;
  padding: 8px;
}

.login-btn {
  position: relative;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 45px;
  padding-right: 17px;
}

.login-btn span:before {
  content: "";
  position: absolute;
  left: 17px;
  top: 6px;
  width: 22px;
  height: 22px;
  background-image: url(../img/login.svg);
  background-repeat: no-repeat;
}

.user-nav a:hover,
.user-nav a:focus,
.user-nav button:hover,
.user-nav button:focus,
.site-navigation a:hover,
.site-navigation a:focus,
.sort-list button,
.sort .user-nav-btn:focus,
.sort .user-nav-btn:hover {
  color: black;
  background-color: white;
}
.sort-list button {
  border: none;
  box-shadow: none;
}
.sort-list button:hover,
.sort-list button:focus {
  color: black;
  background-color: #1e90ff;
}

.items-in-cart {
  color: black;
}

.main-header-info {
  text-align: right;
}
.main-header-info span:first-child {
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
}
.main-header-info span:last-child {
  font-size: 22px;
  line-height: 24px;
}

.slider span {
  font-size: 60px;
  line-height: 60.35px;
}

.slider a {
  font-size: 32px;
  line-height: 44px;
}

.bread-crumbs,
.sort-list li {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
}


.main-left-banner {
background-image: url(../img/rasberry.jpg);
background-repeat: no-repeat;
background-color: #cf2a56;

}

.main-right-banner {
  background-image: url(../img/chocolate.jpg);
  background-repeat: no-repeat;
  background-color: #5f3a25;
}

.catalog {
  font-size: 35px;
  line-height: 41px;
}
.sort .user-nav-btn,
.fats label,
.toppings label {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
}

.product-item span {
    font-size: 45px;
    line-height: 45px;
    font-weight: 700;
  }

.product-item .product-item-name {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
}

.product-item-name,
.subscribtion span {
  line-height: 22px;
  font-weight: 500;
}

.features h3,
.features span {
  color: #323232;
}
.features-list {

  background-image: url(../img/waffle.jpg);
  background-color: #efe4cb;
  background-repeat: no-repeat;
}
.blog-article {
  background-color: #ffffff;
  background-image: url(../img/strawberry-blog.jpg);
  background-repeat: no-repeat;
}
.blog-article,
.blog-article a {
  color: black;
}

.blog-article a {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}
.subscribtion {
  background-color: #f8f7f4;
}
.subscribtion span {
  color: #5a5a5a;
}
.contact-us span {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.contact-us span:nth-child(2n+1) {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

.feedback span:first-child {
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
}

.catalog-paginator {
  font-weight: 500;
}

.left-footer-info a.info,
.right-footer-info a.info {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
}

.left-footer-info a.info:first-child {
  font-weight: 700;
}


.footer-copyright {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}

/* временно */

.catalogue-items,
.search-field,
.login-form,
.feedback,
.cart-items {
  border: 1px solid gray;
}

/* сеточные стили */
body {
  width: 1200px;
  margin:auto;
}

.container {
  padding: 0 2.3%;
  margin: auto;
}
.main-header {
  padding: 0;
  padding-top: 9px;
}
.top-header-wrapper {
  width: 1144px;
  display: flex;
}

.main-navigation {
  min-height: 105px;
  width: 992px;
  padding-top: 13px;
  margin-left: 24px;

}

.site-navigation {
  width: 387px;
  margin: 0;
  padding: 0;
  padding-top: 8px;
  display:flex;

}

.site-navigation li {
  margin-right: 28px;
}


.user-nav {
  width: 267px;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  margin-right: -6px;
}

.main-navigation-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.advertising-wrapper {
  width: 100%;
  min-height: 230px;
  display: flex;
  justify-content: space-between;
}

.main-left-banner {
  width: 560px;
}
.main-right-banner {
  width: 560px;
}

.best-products-list,
.product-list {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.product-item {
  width: 266px;
  min-height: 402px;
}

.catalog-paginator {
  display: flex;
  justify-content: flex-end;
}

.paginator-btn {
  display: inline-block;
  width: 28px;
  height: 28px;
  text-decoration: none;
}

.footer-wrapper {
  display:flex;
  justify-content: space-between;
}

.social-button {
  width: 38px;
  height: 38px;
  }
.footer-social {
    width: 144px;
    }
.social {
  padding: 0;
  display: flex;
  justify-content: space-between;
}


/* декоративные элементы*/
